<!-- <input type="number">
<button type="button" >asdasdasd</button>
<button type="button" >asdasdasd</button> -->

<!-- <table border="1px">
    <th>postId</th>
    <th>id</th>
    <th>name</th>
    <th>email</th>
    <th>body</th>

    <tr *ngFor="let item of comment">
        <td>{{item.postId}}</td>
        <td>{{item.id}}</td>
        <td>{{item.name}}</td>
        <td>{{item.email}}</td>
        <td>{{item.body}}</td>
    </tr>
</table> -->
<!-- <div *ngIf="comment.length =! null"></div>
<h1>Quantidade de Comments {{comment.length}}</h1>
</div> -->